<div class="sign-in-bar">
  <ul class="tabs group">
    <li class="tab">
      <a href="#tab-create-account">Create account</a>
    </li>
    <li class="tab">
      <a href="#tab-sign-in">Sign in</a>
    </li>
  </ul>
</div>

<div class="sign-in-barrier">
  <span>or</span>
</div>

<form action="<%= session_url %>" method="POST">
  <%= csrf_protection %>

  <label class="sign-in-input-text" for="email">Your email address</label> <br>
  <input class="cs-input" maxlength="255" id="email" type="text" name="user[email]" value="<%= @user.email %>"> <br>

  <label class="sign-in-input-text" for="password">Your password</label> <br>
  <input class="cs-input" id="password" type="password" name="user[password]" value=""> <br>

  <a class='form-link'href="#">Forgot your password</a> or <a class='form-link'href="#">email address</a>? <br>

  <input id="remember" class="cs-input" type="checkbox" name="user[remember]" value="">
  <label class="sign-in-checkbox-text" for="remember">Remember Me</input>
  <a href="#" class="cancel-link">Cancel</a>
  <button>Sign In</button>
  <% if flash.now[:errors] %>
    <div class="sign-in-error">
      We couldn’t sign you in, sure you had the right credentials?
    </div>
  <% end %>
</form>
