<div class="header"></div>

<div class="feed-content">

  <div class="info-header">

    <h1 class="page-title">Explore</h1>

    <p class="description">CloudSound is a social app for music-makers of all
      kinds. After you sign in, you can upload your own tracks; play, like, and
      comment on other users' tracks; and follow other users so that their tracks
      appear in your personal feed. On this page, you can find the most recently
      uploaded tracks by all users. Have fun!</p>

  </div>


  <div class="tracks-index"></div>

</div>
