<div class="header"></div>

<div class="feed-content">

  <div class="info-header group">
    <div class="user-left">
      <h1 class="page-title"><%= user.escape('display_name') %></h1>
      <h2><%= user.escape('fname') + " " + user.escape('lname') %></h2>
      <br>
      <h2><%= user.escape('location') %></h2>
    </div>
    <img class="user-profile-pic" src="<%= user.get('image_url') %>" width="340" height="340" />
  </div

  <% if (CloudSound.currentUser.id) { %>
    <button class="follow-button"></button>
  <% } %>
  <div class="tracks-index"></div>

</div>
