<div class="header"></div>

<div class="user-header">
  <h1><%= user.escape('display_name') %></h1>
  <h2><%= user.escape('fname') + user.escape('lname') %></h2>
  <h2><%= user.escape('location') %></h2>
</div>

<div class="tracks-index">

</div>
