<div class="header"></div>

<form class="trackForm">

  <h3 class="errors" ></h3>

  <label class="sign-in-input-text">
    Audio
  </label>
    <input type="file" name="track[audio]" id='input-post-audio'>



  <div id="preview-post-audio"></div>



  <label class="sign-in-input-text">
    Picture
  </label>
    <input type="file" name="track[image]" id='input-post-image'>



  <img src="" id="preview-post-image" class="preview-image" width="300" height="300">



  <label class="sign-in-input-text">
    Title
  </label>
    <input type="text" class="cs-input" name="track[title]" id='input-post-title' value="<%= track.get('title') %>">



  <label class="sign-in-input-text">
    URL
  </label>
    <input type="text" class="cs-input" name="track[url]" id='input-post-url' value="<%= track.get('url') %>">



  <label class="sign-in-input-text">
    Description
  </label>
    <input type="text" class="cs-input" name="track[description]" id='input-post-description' value="<%= track.get('description') %>">



  <!-- <label>
    Private?
    <input id='input-post-private' type="checkbox" name="track[private]"
      <% if (track.get('private')) { %>
        <%= "checked" %>
      <% } %>
    >
  </label>

   -->
  <div class="form-buttons">
    <a href="#" class="cancel-link">Cancel</a>
    <button class="save">Save</button>
  </div>

</form>
