<div class="cscontent">

</div>

<% if current_user && (!current_user.display_name ||
      current_user.display_name == "" ||
      !current_user.image_file_name) %>
  <script type="text/javascript">
    var needsToEdit = true;
    var currentUserId = <%= current_user.id %>;
  </script>
<% else %>
  <script type="text/javascript">
    var needsToEdit = false;
  </script>
<% end %>
