<div class="cscontent">

</div>

<% if current_user %>
  <script type="text/javascript">
    var currentUserId = <%= current_user.id %>;
  </script>
  <% if !current_user.display_name ||
        current_user.display_name == "" ||
        !current_user.image_file_name %>
    <script type="text/javascript">
      var needsToEdit = true;
    </script>
  <% end %>
<% end %>

<% if @user_id %>
  <script type="text/javascript">
    var showUserId = <%= @user_id %>;
  </script>
<% end %>
