/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
   font-family: "Interstate";
   src: font-url('Interstate-Light.otf') format('truetype');
 }

 html, body, h1, h2, h3, h4, h5, a, li, ul, input, button, label, div, span {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;

   background: transparent;

   font: inherit;
   font-size: 12px;
   font-family: "Interstate";
   text-decoration: inherit;
   text-align: inherit;
   box-sizing: inherit;
   vertical-align: inherit;
   color: #333333;

   list-style-type: none;
   box-sizing: border-box;
 }

 .group:after {
   clear: both;
   display: block;
   content: "";
 }

 button {
   background: #f50;
   border-color: #f50;
   color: #fff;
   height: 26px;
   margin: 0;
   padding: 2px 11px 2px 10px;
   border-radius: 3px;
   background-color: #ff5400;
   cursor: pointer;
   font-size: 14px;
   line-height: 20px;
   white-space: nowrap;
   font-weight: 300;
   text-align: center;
   vertical-align: baseline;
   box-sizing: border-box;
 }

 a.form-link {
   margin: auto;
   color: #38d;
 }

 a.form-link:hover {
   color: #000;
 }

 a.cancel-link {
   padding: 2px 0;
   padding-left: 10px;
   padding-right: 11px;
   text-align: center;
   font-size: 14px;
   font-weight: 300;
   color: rgb(51, 51, 51);
 }

 ul.tabs li {
   float: right;
 }

 ul.tabs li.first{
   margin-right: 20px;
 }

 ul.tabs li a {
   padding: 0 15px;
   padding-top: 7px;
   padding-bottom: 23px;
   font-weight: 300;
   font-size: 16px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
   position: relative;
   text-align: center;
   background: #2a2a2a;
   color: #ccc;
 }

 ul.tabs li a.selected {
   background: #fff;
   color: #333;
 }

 .ULC-logo span.logo {
   position: relative;
   float: left;
   content: image-url('logo1.png');
   width: 18px;
   top: 3px;
   margin-right: 5px;
 }

 .ULC-logo span.title {
   position: relative;
   float: left;
   font-weight: 300;
   font-size: 16px;
   color: #fff;
 }

 .ULC-logo {
   position: absolute;
   top: 22px;
   left: 22px;
 }

 ul.tabs {
   right: 0px;
   bottom: 23px;
   display: block;
   position: absolute;
 }

 div.sign-in-bar {
   position: relative;
 }


 input.cs-input {
   background-color: #fff;
   background-size: auto;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   color: rgb(51, 51, 51);
   cursor: auto;
   display: inline-block;
   font-size: 18px;
   font-weight: 300;
   height: 27px;
   line-height: 20px;
   margin-top: 2px;
   margin-bottom: 15px;
   padding: 2px 7px;
   transition: border-color 0.1s ease;
   width: 400px;
   word-spacing: 0px;
   cursor: pointer;
 }

 input.cs-input:focus {
   border-color: #999;
 }

 input.cs-input.small {
   width: 196px;
 }

 div.floated-input {
   float: left;
   margin-right: 8px;
   width: 196px;
 }

 div.floated-input.last {
   margin-right: 0;
 }

 div.sign-in-bar {
   height: 64px;
   background: #2a2a2a;
   left: 0;
   top: 0;
 }

 .sign-in-input-text {
   font-weight: 300;
   font-family: 'Lucida Grande';
 }

 .sign-in-checkbox-text {
   font-weight: 300;
   font-family: 'Lucida Grande';
   margin-top: 2px;
 }

 div.sign-in-barrier {
   height: 1px;
   background: rgb(229, 229, 229);
   margin: 30px 0;
   position: relative;
 }

 div.sign-in-barrier span {
   font-size: 14px;
   color: rgb(153, 153, 153);
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   top: -9px;
   background: #fff;
   font-weight: 300;
   padding: 0px 10px;
 }

 form.sign-in {
   margin: auto;
   position: relative;
   width: 400px;
 }

 form.sign-in div.form-buttons {
   position: absolute;
   margin-top: 20px;
   padding-top: 4px;
   right: 0;
 }

 div.author-info-area {
   float: left;
 }

 div.comments-index {
   float: left;
 }
