.error-wrapper {
  display: block;
  margin: auto;
  max-width: 1240px;
  background: white;
  padding: 30px;
  height: calc(100vh - 46px);
}

.error-data {
  margin: auto;
  position: absolute;
  bottom: 50%;
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 50%;
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}

h1.error-title {
  color: #ff5400;
  font-weight: bold;
  font-size: 64px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

h2.error-description {
  font-size: 32px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
