.header {
  width: 100%;
  background: #333;
}

.header-interior {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.header-interior * {
  display: block;
  float: left;
}

.header-interior img.thumb {
  display: block;
  margin: 10px 10px;
  background: white;
}

.header-interior a.username {
  color: white;
  padding: 12px 10px;
  padding-left: 0;
  width: auto;
}

.header-interior div.user-container {
  width: auto;
  min-width: 104px;
  display: block;
}

.header-interior a {
  display: block;
  height: 46px;
  padding: 12px 0;
  width: 104px;
  box-sizing: border-box;
  text-align: center;
  color: #ccc;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
}

.header-interior a:hover {
  color: #eee;
}

.header-interior .search-container {
  // border-right: 1px solid #111;
  position: relative;
  display: block;
  padding: 9px;
  width: calc(100% - 70px - 416px);
}

input.search {
  width: 100%;
}

.header-interior input {
  color: #666;
  outline: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  border-radius: 4px;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.header-interior input:focus {
  background: #fff;
}

.header-interior a.logo-block {
  background-image: linear-gradient(to bottom, #ff7700 0%, #ff3000 100%);
  width: 70px;
  position: relative;
}

.header-interior span.logo-block {
  content: image-url('logo1.png');
  width: 30px;
  display: block;
  margin: auto;
  position: absolute;
  border: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.user-container {
  position: relative;
}

.user-container:hover .dropdown {
  display: block;
}

.dropdown {
  top: calc(100% - 1px);
  display: none;
  font-size: 14px;
  position: absolute;
  left: -1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  background: #333;
  width: calc(100% + 2px);
}

.dropdown a {
  border: 0;
  width: 100%;
}

.right {
  float: right;
}

.modal {
  display: block;
  position: absolute;
  top: -46px;
  width: 100%;
  height: calc(100vh + 46px);
  pointer-events: none;
}

.modal.on {
  pointer-events: auto;
}

.modal-background {
  position: absolute;
  z-index: 10;
  display: block;
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  transition: opacity .25s ease;
}

.modal.on .modal-background {
  opacity: .75;
}

.modal-menu {
  background: white;
  z-index: 11;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  max-height: 398px;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  top: -100%;
  transition: top .5s ease;
}

.modal.on .modal-menu {
  top: calc(46px * 3);
}

.sessionTab, .userTab {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sign-in-bar {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #2a2a2a;
}

.items-list {
  width: 100%;
}

.dropdown-search-results {
  width: 100%;
  z-index: 100;
  top: 100%;
  left: 0;
  display: block;
  font-size: 14px;
  position: absolute;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  background: #333;
}

.dropdown-search-results li {
  position: relative;
  display: block;
  float: none;
  width: 100%;
}

.dropdown-search-results li a {
  width: 100%;
  padding: 12px;
  text-align: left;
}
