div.track {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
}

div.comment-area {
  padding: 30px;
  max-width: 1240px;
  background: white;
}

div.player-area {
  margin: auto;
  padding: 30px 560px 20px 30px;
  position: relative;
  left: 0;
  top: 0;
  width: 1240px;
  height: 380px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, rgba(136,136,136,1) 0%,rgba(83,83,83,1) 100%);
  -webkit-backface-visibility: hidden;
}

div.player-area-small {
  padding: 0;
  position: relative;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
}

div.player {
  position: absolute;
  float: left;
}

img.main {
  position: absolute;
  float: left;
  top: 20px;
  right: 20px;
}

div.comment-area {
  margin: auto;
  display: block;
  position: relative;
}

form.comment {
  margin: 10px 0;
  width: 100%;
}

li {
  display: inline;
}

ul.comments li {
  display: block;
}

div.player-area {
  color: #fff;
}

div.name-details div {
  display: inline-block;
  position: relative;
  box-shadow: 4px 0 0 0 #000,-4px 0 0 0 #000;
  font-weight: 100;
  left: 4px;
  background: #000;
  color: #fff;
}

div.name-details {
  float: left;
}

div.display-name {
  margin-bottom: 2px;
}

div.display-name a {
  color: white;
  line-height: 1.4;
  font-size: 16px;
}

div.track-title {
  line-height: 1.4;
  font-size: 24px;
  padding: 1px 0;
}

.player-area-small {

  div.name-details div {
    box-shadow: 4px 0 0 0 #fff,-4px 0 0 0 #fff;
    background: #fff;
    padding: 0;
    margin: 0;
    font-weight: 100;
    line-height: normal;
    position: relative;
  }

  div.display-name a {
    color: #999;
    font-size: 14px;
    line-height: normal;
  }

  div.track-title a {
    font-size: 16px;
    font-weight: bold;
  }

  div.track-title {
    font-size: 16px;
    padding: 0;
  }

  div.player {
    position: relative;
    float: left;
  }

  img.main {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    margin-right: 15px;
  }

  div.cursor-time, div.end-time {
    top: 15px;
  }

}

ul.track-info {
  display: block;
  float: right;
}

a.delete-comment {
  display: none;
  border: solid 1px #e5e5e5;
  color: black;
  border-radius: 4px;
}

a.delete-comment:hover {
  border-color: #ccc;
}

a.active {
  display: block;
}

input.comment-input {
  border: solid 1px #e5e5e5;
  color: black;
  border-radius: 4px;
  padding: 0 9px;
  text-align: start;
  font-size: 14px;
  font-family: 'Lucida Grande';
  cursor: pointer;
  box-sizing: border-box;
  background: white;
  width: 100%;
}

input.comment-input.focused {
  border-color: #999;
}

div.comment-surround {
  float: left;
  border: solid 1px #e5e5e5;
  background: #f2f2f2;
  padding: 5px;
  width: calc(100% - 31px);
}

div.comment-surround.focused {
  background: #e5e5e5;
  border-color: #ccc;
}

.comment-form-image img {
  position: relative;
  display: block;
  float: left;
  width: 31px;
  height: 31px;
}

div#audio-wave {
  width: 820px;
  height: 100px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 390px;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;
}

div#audio-wave:hover, div#audio-wave.active {
  opacity: 1;
}

div#audio-wave.small {
  float: left;
  width: 682px;
  height: 60px;
  position: relative;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div#audio-wave > div.hidden {
  display: none;
}

div.cursor-time, div.end-time {
  position: absolute;
  background-color: #000;
  font-size: 10px;
  font-weight: 100;
  bottom: 50%;
  z-index: 10;
  padding: 1px 2px;
  font-family: 'Lucida Grande'
}

div.cursor-time {
  color: #ff6500;
  left: 0;
}

div.end-time {
  color: #999;
  right: 0;
}

button.play-pause {
  padding: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  line-height: 0;
  box-sizing: border-box;
}

.player-area-small button.play-pause {
  padding: 15px;
  border-radius: 50%;
  float: left;
  margin: 0px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
  margin-right: 3px;
  line-height: 0;
  box-sizing: border-box;
}

.loading-animation {
  position: absolute;
  display: block;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.loading-animation > span {
  font-size: 32px;
}

.player-area-small .loading-animation > span {
  font-size: 16px;
}

button.play-pause.loading {
  .one:after, .two:after, .three:after {
    content: "•";
    color: white;
    opacity: 0;
    -webkit-animation: dot 1s infinite;
    animation: dot 1s infinite;
  }

  .one:after {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
  }

  .two:after {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .three:after {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  @-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
  }
}


button.play-pause.paused {
  background-image: image-url('play.png');
}

button.play-pause.playing {
  background-image: image-url('pause.png');
}

button.play-pause:active {
  background-color: #f82e00;
}

div.track-index-item, div.user-index-item {
  position: relative;
  width: 817px;
}

div.track-index {
  margin: auto;
  max-width: 817px;
}

div.search-index {
  margin:auto;
  margin-top: 20px;
  max-width: 817px;
}

button.like-button {
  border: 1px solid #e5e5e5;
  background: white;
  position: relative;
  background-size: 16px 16px;
  background-image: image-url('heartblack.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 26px;
  margin: 0 0 10px 0;
}

button.like-button:hover {
  border-color: #ccc;
}

button.like-button.liked {
  border-color: #ff5300;
  background-image: image-url('heartorange.svg');
}

ul.track-info li {
  float: left;
  position: relative;
  width: auto;
}

ul.track-info li {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  font-family: "Lucida Grande";
  color: #999;
  display: block;
  font-size: 10px;
  line-height: 12px;
  margin: 6px 3px;
}

ul.track-info {
  li.plays-image {
    background-image: image-url('plays.svg');
    width: 12px;
    height: 12px;
  }

  li.likes-image {
    background-image: image-url('heartgray.svg');
    width: 12px;
    height: 12px;
  }

  li.comments-image {
    background-image: image-url('comments.svg');
    width: 12px;
    height: 12px;
  }

  li.followers-image {
    background-image: image-url('followers.svg');
    width: 12px;
    height: 12px;
  }

  li.tracks-image {
    background-image: image-url('tracks.svg');
    width: 12px;
    height: 12px;
  }
}

.progress-bar {
  width: 100%;
  display: block;
  border-radius: 4px;
  height: 100%;
  opacity: 1;
  position: absolute;
  transition: opacity .5s ease;
}
