<div class="header"></div>

<div class="feed-content">

  <div class="info-header">

    <h1 class="page-title">Search for "<%= escape(term) %>"</h1>

  </div>

  <div class="search-index"><ul class="items-list"></ul></div>

</div>
