<div class="header"></div>

<div class="feed-content">

  <div class="info-header">

    <h1 class="page-title">Search for "<%= term %>"</h1>

  </div>

  <div class="search-index">
    <ul class="items-list"></ul>
    <div class="loading-spinner loader"></div>
  </div>


</div>
