<div class="header"></div>

<!-- <div class="feed-content">

  <div class="user-top">
    <div class="user-left">
      <h1 class="page-title">404</h1>
      <h2>There's nothing here!</h2>
    </div>
  </div>

  <div class="tracks-index"></div>

</div> -->

<div class="error-wrapper">

  <div class="error-data">
    <h1 class="error-title">404</h1>
    <h2 class="error-description">There's nothing here!</h2>
  </div>

</div>
