<div class="header-interior group">
  <a class="logo-block" href="#_=_">
    <span class="logo-block"></span>
  </a>
  <form class="search-container">
    <input class="search" placeholder="Search">
  </form>
  <div class="right">
    <a class="explore" href="#explore">Explore</a>
    <% if (CloudSound.currentUser.isSignedIn()) { %>
      <a class="upload" href="#tracks/new">Upload</a>
      <div class="user-container">
        <img class="thumb" src="<%= CloudSound.currentUser.get('image_url') %>" width="26" height="26" />
        <a class="username" href="#users/<%= CloudSound.currentUser.id %>"><%= CloudSound.currentUser.escape("display_name") %></a>
        <div class="dropdown">
          <a href="#users/<%= CloudSound.currentUser.id %>/edit">Edit</a>
        </div>
      </div>
      <a class="sign-out-tab-link" href="#">Sign Out</a>
    <% } else { %>
      <a class="create-account" href="#">New User</a>
      <a class="sign-in-tab-link" href="#">Sign In</a>
    <% } %>


  </div>
</div>

<div class="modal">
  <div class="modal-background">

  </div>

  <div class="modal-menu">

  </div>
</div>
